.plover-loader-spinner-style-03{width:40px;aspect-ratio:1;border-radius:50%;border:6px solid;border-color:var(--loader, #169763) rgba(0,0,0,0);animation:l1 1s infinite}@keyframes l1{to{transform:rotate(0.5turn)}}
